
@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;
html{
    font-family: Work Sans, sans-serif;
}

h1{
    text-align: center;
    font-size: bold;
    text-transform: uppercase;
    color:lightseagreen !important;
}